<html>
  <body>
    <div><a href="/">Home</a></div>
    <form method="GET">
      <input type="text" name="search" placeholder="Search..." required>
      <button type="submit">Search</button>
    </form>
    <p><%= usernames %></p>
    <div><a href="/new">Create new user</a></div>
    <div><a href="/delete">Delete All Users</a></div>
  </body>
</html>
