/* General setup */

@font-face {
    font-family: 'advent_pro';
    src: url('fonts/adventpro-regular-webfont.woff2') format('woff2'),
         url('fonts/adventpro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aaarghnormal';
    src: url('fonts/aaargh-webfont.woff2') format('woff2'),
         url('fonts/aaargh-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1, h2 {
  font-family: 'aaarghnormal', serif;
}

p {
  font-family: 'advent_pro', serif;
}

html {
  font-size: 12px;
  margin: 0;
  font-family: sans-serif;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

p {
  font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
}
